@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar,
* ::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  background-color: transparent;
}

.location-wrapper {
  /* FLICKERING DUE NO FIXED SIZE FLEX */
  /* height: calc(100% - 3em); */
  /* height: 600px; */
  overflow-x: auto;
  overflow-y: hidden;
  overflow: -moz-scrollbars-none;
  scroll-snap-coordinate: 0 0;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-anchor: none;
  -webkit-overflow-scrolling: touch;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
  &::-webkit-scrollbar-track {
    display: none;
    width: 0 !important;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    display: none;
    width: 0 !important;
    height: 0 !important;
    background-color: transparent;
  }

  & > div {
    scroll-snap-align: start;
  }
}

.location-navigation {
  & li {
    & span {
      transition: 0.2s ease-in-out;
      /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 1) inset; */

      &:hover {
        /* background-color: rgba(0, 0, 0, 0.5); */
      }
      &.selected {
        background-color: transparent;
        box-shadow: 0 0 0 18px rgba(0, 0, 0, 1) inset;
      }
    }
  }
}

input[type='search'] {
  @apply font-thin text-black;
  &::-webkit-input-placeholder {
    @apply text-gray-500;
  }
  &::-moz-placeholder {
    @apply text-gray-500;
  }
  &:-ms-input-placeholder {
    @apply text-gray-500;
  }
  &:-moz-placeholder {
    @apply text-gray-500;
  }
}
